Repository enshkn/BOUN-SWE-574-Fall-23-G2, pull requests merged in 2023-11, with the labels that each got.

#114 add story fixes
  mobile/lib/_infrastructure/auth/auth_repository.dart
  mobile/lib/_infrastructure/story/story_repository.dart
  mobile/lib/_presentation/story/add_story_view.dart
  mobile/lib/_presentation/story/my_stories_view.dart
  mobile/lib/_presentation/widgets/textformfield/app_text_form_field.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: mobile

#125 Search by location function fixed Closes #124
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryMobileController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/StoryService.java
Labels: bug, backend

#129 Liked stories api added for mobile Closes #127
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryMobileController.java
  dutluk/dutluk_rs/main.py
Labels: backend, feature

#133 Location model modified with 4 integer fields
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/model/Location.java
Labels: enhancement, backend, webApp, feature

#134 /recent api created which shows the stories created since 7 days ago descending Closes #95
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryMobileController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/repository/StoryRepository.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/StoryService.java
Labels: enhancement, backend

#137 circleRadius field added
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/model/Location.java
Labels: backend

#142 Development on cors config
  dutluk/dutluk_backend/pom.xml
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/configuration/CorsConfig.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/UserController.java
  dutluk/dutluk_backend/src/main/resources/application.properties
Labels: backend

#145 Development react2
  dutluk/dutluk_frontend/package-lock.json
  dutluk/dutluk_frontend/package.json
  dutluk/dutluk_frontend/src/App.js
  dutluk/dutluk_frontend/src/components/Recommended.js
  dutluk/dutluk_frontend/src/components/TimelineSearch.js
Labels: frontend, react

#155 Edit Story page is created
  dutluk/dutluk_frontend/src/App.js
  dutluk/dutluk_frontend/src/components/EditStory.js
  dutluk/dutluk_frontend/src/components/css/EditStory.css
Labels: enhancement, react, webApp

#158 end date requreiment fixed , closes issue 100
  dutluk/dutluk_frontend/src/components/AddStory.js
Labels: bug, frontend, react

#159 Development mobile
  mobile/assets/images/profilePic.jpg
  mobile/lib/_application/story/story_cubit.dart
  mobile/lib/_application/story/story_state.dart
  mobile/lib/_domain/network/network_paths.dart
  mobile/lib/_domain/story/i_story_repository.dart
  mobile/lib/_domain/story/model/postComment_model.dart
  mobile/lib/_infrastructure/story/story_repository.dart
  mobile/lib/_presentation/app/view/home/view/home_view.dart
  mobile/lib/_presentation/auth/view/login/login_view.dart
  mobile/lib/_presentation/auth/view/register/view/register_view.dart
  mobile/lib/_presentation/story/add_story_view.dart
  mobile/lib/_presentation/story/story_details_view.dart
  mobile/lib/_presentation/widgets/card/comment_card.dart
  mobile/lib/_presentation/widgets/card/story_card.dart
Labels: mobile

#164 search by label api created Closes #163
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryMobileController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/StoryService.java
Labels: enhancement, backend, webApp

#166 image size regularization
  dutluk/dutluk_frontend/src/components/css/AllStories.css
  dutluk/dutluk_frontend/src/components/css/EditStory.css
  dutluk/dutluk_frontend/src/components/css/StorySearch.css
Labels: frontend, webApp

#172 Development imagesizing
  dutluk/dutluk_frontend/src/components/css/AddStory.css
  dutluk/dutluk_frontend/src/components/css/AllStories.css
  dutluk/dutluk_frontend/src/components/css/Base.css
  dutluk/dutluk_frontend/src/components/css/EditStory.css
  dutluk/dutluk_frontend/src/components/css/Login.css
  dutluk/dutluk_frontend/src/components/css/Profile.css
  dutluk/dutluk_frontend/src/components/css/Register.css
  dutluk/dutluk_frontend/src/components/css/StorySearch.css
  dutluk/dutluk_frontend/src/components/css/User.css
Labels: frontend, react, webApp

#177 navigations are updated with useNavgiate
  dutluk/dutluk_frontend/src/components/EditStory.js
  dutluk/dutluk_frontend/src/components/Login.js
  dutluk/dutluk_frontend/src/components/Register.js
Labels: enhancement, frontend, react, webApp

#173 search location feature added for add story
  dutluk/dutluk_frontend/src/components/AddStory.js
Labels: enhancement, frontend, react, webApp

#179 Dev api integration
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/CommentController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/CommentMobileController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryMobileController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/UserController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/UserMobileController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/IntegrationService.java
Labels: bug, enhancement, backend, webApp

#175 Form validation for add story implemented
  dutluk/dutluk_frontend/src/components/AddStory.js
Labels: enhancement, frontend, react, webApp

#192 closes #191
  mobile/lib/_application/profile/profile_cubit.dart
  mobile/lib/_domain/auth/model/profile_update_model.dart
  mobile/lib/_domain/network/app_network_manager.dart
  mobile/lib/_domain/network/network_paths.dart
  mobile/lib/_domain/profile/i_profile_repository.dart
  mobile/lib/_infrastructure/auth/auth_repository.dart
  mobile/lib/_infrastructure/profile/profile_repository.dart
  mobile/lib/_presentation/_route/route_paths.dart
  mobile/lib/_presentation/_route/router.dart
  mobile/lib/_presentation/_route/router.gr.dart
  mobile/lib/_presentation/app/view/profile/view/profile_detail_view.dart
  mobile/lib/_presentation/app/view/profile/view/profile_view.dart
  mobile/lib/_presentation/widgets/card/story_card.dart
Labels: frontend, feature, mobile

#194 Development mobile
  mobile/android/app/src/debug/app_launcher-playstore.png
  mobile/android/app/src/debug/res/drawable/app_launcher_background.xml
  mobile/android/app/src/debug/res/mipmap-anydpi-v26/app_launcher.xml
  mobile/android/app/src/debug/res/mipmap-anydpi-v26/app_launcher_round.xml
  mobile/android/app/src/debug/res/mipmap-hdpi/app_launcher.png
  mobile/android/app/src/debug/res/mipmap-hdpi/app_launcher_foreground.png
  mobile/android/app/src/debug/res/mipmap-hdpi/app_launcher_round.png
  mobile/android/app/src/debug/res/mipmap-mdpi/app_launcher.png
  mobile/android/app/src/debug/res/mipmap-mdpi/app_launcher_foreground.png
  mobile/android/app/src/debug/res/mipmap-mdpi/app_launcher_round.png
  mobile/android/app/src/debug/res/mipmap-xhdpi/app_launcher.png
  mobile/android/app/src/debug/res/mipmap-xhdpi/app_launcher_foreground.png
  mobile/android/app/src/debug/res/mipmap-xhdpi/app_launcher_round.png
  mobile/android/app/src/debug/res/mipmap-xxhdpi/app_launcher.png
  mobile/android/app/src/debug/res/mipmap-xxhdpi/app_launcher_foreground.png
  mobile/android/app/src/debug/res/mipmap-xxhdpi/app_launcher_round.png
  mobile/android/app/src/debug/res/mipmap-xxxhdpi/app_launcher.png
  mobile/android/app/src/debug/res/mipmap-xxxhdpi/app_launcher_foreground.png
  mobile/android/app/src/debug/res/mipmap-xxxhdpi/app_launcher_round.png
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/app_launcher-playstore.png
  mobile/android/app/src/main/res/drawable/app_launcher_background.xml
  mobile/android/app/src/main/res/mipmap-anydpi-v26/app_launcher.xml
  mobile/android/app/src/main/res/mipmap-anydpi-v26/app_launcher_round.xml
  mobile/android/app/src/main/res/mipmap-hdpi/app_launcher.png
  mobile/android/app/src/main/res/mipmap-hdpi/app_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-hdpi/app_launcher_round.png
  mobile/android/app/src/main/res/mipmap-mdpi/app_launcher.png
  mobile/android/app/src/main/res/mipmap-mdpi/app_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-mdpi/app_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xhdpi/app_launcher.png
  mobile/android/app/src/main/res/mipmap-xhdpi/app_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xhdpi/app_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/app_launcher.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/app_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/app_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/app_launcher.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/app_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/app_launcher_round.png
  mobile/lib/_application/profile/profile_cubit.dart
  mobile/lib/_domain/auth/model/follow_user_model.dart
  mobile/lib/_domain/auth/model/user.dart
  mobile/lib/_domain/network/network_paths.dart
  mobile/lib/_domain/profile/i_profile_repository.dart
  mobile/lib/_infrastructure/profile/profile_repository.dart
  mobile/lib/_presentation/_route/route_paths.dart
  mobile/lib/_presentation/_route/router.dart
  mobile/lib/_presentation/_route/router.gr.dart
  mobile/lib/_presentation/app/view/home/view/home_view.dart
  mobile/lib/_presentation/app/view/profile/view/other_profile_view.dart
  mobile/lib/_presentation/app/view/profile/view/profile_detail_view.dart
  mobile/lib/_presentation/story/story_details_view.dart
Labels: frontend, feature, mobile

#207 Time resolution selection is added.
  dutluk/dutluk_frontend/src/components/AddStory.js
  dutluk/dutluk_frontend/src/components/css/AddStory.css
Labels: frontend, react, webApp

#201 Development map tools
  dutluk/dutluk_frontend/.vscode/launch.json
  dutluk/dutluk_frontend/package-lock.json
  dutluk/dutluk_frontend/package.json
  dutluk/dutluk_frontend/src/components/AddStory.js
  dutluk/dutluk_frontend/src/components/css/AddStory.css
  dutluk/dutluk_frontend/src/index.js
Labels: frontend, high priority, react, webApp

#214 near by stories feature for mobile app #98
  mobile/lib/_application/story/story_cubit.dart
  mobile/lib/_application/story/story_state.dart
  mobile/lib/_domain/network/network_paths.dart
  mobile/lib/_domain/story/i_story_repository.dart
  mobile/lib/_domain/story/model/getNearbyStories_model.dart
  mobile/lib/_infrastructure/story/story_repository.dart
  mobile/lib/_presentation/app/view/nearby/view/nearby.dart
  mobile/lib/_presentation/story/add_story_view.dart
Labels: frontend, feature, mobile

#216 Recommended page added to the mobile app #106
  mobile/lib/_application/story/story_cubit.dart
  mobile/lib/_domain/story/i_story_repository.dart
  mobile/lib/_infrastructure/story/story_repository.dart
  mobile/lib/_presentation/app/view/recommended/view/recommended_view.dart
Labels: frontend, feature, mobile

#224 profile pic upload and view in mobile profile #221
  mobile/lib/_application/profile/profile_cubit.dart
  mobile/lib/_application/profile/profile_state.dart
  mobile/lib/_domain/network/network_paths.dart
  mobile/lib/_domain/profile/i_profile_repository.dart
  mobile/lib/_infrastructure/auth/auth_repository.dart
  mobile/lib/_infrastructure/profile/profile_repository.dart
  mobile/lib/_presentation/app/view/profile/view/other_profile_view.dart
  mobile/lib/_presentation/app/view/profile/view/profile_detail_view.dart
  mobile/lib/_presentation/widgets/card/comment_card.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: enhancement, feature, mobile

#279 story unit test implemented Write unit test for mobile app #97
  mobile/lib/_application/story/story_cubit.dart
  mobile/lib/_presentation/story/add_story_view.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/story/story_cubit_test.dart
  mobile/test/story/story_cubit_test.mocks.dart
Labels: frontend, mobile, test
