Repository enshkn/BOUN-SWE-574-Fall-23-G2, pull requests merged in 2023-12, with the labels that each got.

#288 283 story detail show map location on map
  dutluk/dutluk_frontend/launch.json
  dutluk/dutluk_frontend/src/components/StoryDetails.js
Labels: enhancement, frontend, react, webApp

#292 not show null values in story l fixed. Closes 287
  dutluk/dutluk_frontend/src/components/StoryDetails.js
Labels: frontend, react, webApp

#299 notification location fix
  dutluk/dutluk_frontend/src/components/css/Base.css
Labels: bug, frontend, react, webApp

#305 Development mobile
  mobile/lib/_application/story/story_cubit.dart
  mobile/lib/_domain/network/network_paths.dart
  mobile/lib/_domain/story/model/addStory_model.dart
  mobile/lib/_presentation/app/view/profile/view/other_profile_view.dart
  mobile/lib/_presentation/story/add_story_view.dart
  mobile/lib/_presentation/story/my_stories_view.dart
Labels: bug, enhancement, frontend, mobile

#306 Development react mapslider is added
  dutluk/dutluk_frontend/src/components/AddStory.js
Labels: enhancement, frontend, react, test

#314 #313
  mobile/assets/images/2dutlukfinal.png
  mobile/assets/images/dutluk_logo.png
  mobile/assets/images/splash.gif
  mobile/lib/_presentation/app/view/home/view/home_view.dart
  mobile/lib/_presentation/app/view/nearby/view/nearby.dart
  mobile/lib/_presentation/app/view/profile/view/profile_view.dart
  mobile/lib/_presentation/app/view/recommended/view/recommended_view.dart
  mobile/lib/_presentation/app/view/search/search_view.dart
  mobile/lib/_presentation/app/view/timeline/view/timeline_view.dart
  mobile/lib/_presentation/splash/view/splash_view.dart
  mobile/lib/_presentation/widgets/app_search_bar.dart
Labels: enhancement, mobile

#317 Development react
  dutluk/dutluk_frontend/launch.json
  dutluk/dutluk_frontend/src/App.js
  dutluk/dutluk_frontend/src/components/AddStory.js
  dutluk/dutluk_frontend/src/components/AllStories.js
  dutluk/dutluk_frontend/src/components/EditStory.js
  dutluk/dutluk_frontend/src/components/FollowedUserStories.js
  dutluk/dutluk_frontend/src/components/LabelSearch.js
  dutluk/dutluk_frontend/src/components/Login.js
  dutluk/dutluk_frontend/src/components/MyStories.js
  dutluk/dutluk_frontend/src/components/Profile.js
  dutluk/dutluk_frontend/src/components/Recommended.js
  dutluk/dutluk_frontend/src/components/StoryDetails.js
  dutluk/dutluk_frontend/src/components/css/Base.css
Labels: enhancement, frontend, react, webApp

#326 Development mobile
  mobile/lib/_core/widgets/base_widgets.dart
  mobile/lib/_infrastructure/story/story_repository.dart
  mobile/lib/_presentation/app/view/home/view/home_view.dart
  mobile/lib/_presentation/app/view/nearby/view/nearby.dart
  mobile/lib/_presentation/app/view/recommended/view/recommended_view.dart
  mobile/lib/_presentation/app/view/search/search_view.dart
  mobile/lib/_presentation/app/view/timeline/view/timeline_view.dart
  mobile/lib/_presentation/story/add_story_view.dart
  mobile/lib/_presentation/story/liked_stories_view.dart
  mobile/lib/_presentation/story/saved_stories_view.dart
  mobile/lib/_presentation/story/story_details_view.dart
  mobile/lib/_presentation/widgets/card/story_card.dart
  mobile/lib/_presentation/widgets/filters/story_filter_modal.dart
  mobile/lib/_presentation/widgets/filters/story_timeline_filter_modal.dart
  mobile/lib/_presentation/widgets/modals.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: mobile

#336 #327 issue.
  dutluk/dutluk_frontend/package-lock.json
  dutluk/dutluk_frontend/package.json
  dutluk/dutluk_frontend/src/components/AddStory.js
  dutluk/dutluk_frontend/src/components/css/Login.css
  dutluk/dutluk_frontend/src/components/css/Register.css
Labels: enhancement, frontend

#337 Associated with issue #327
  dutluk/dutluk_frontend/package-lock.json
  dutluk/dutluk_frontend/package.json
  dutluk/dutluk_frontend/src/components/AddStory.js
  dutluk/dutluk_frontend/src/components/css/Login.css
  dutluk/dutluk_frontend/src/components/css/Register.css
Labels: enhancement, frontend

#340 #339
  mobile/lib/_application/story/story_cubit.dart
  mobile/lib/_presentation/app/view/nearby/view/nearby.dart
  mobile/lib/_presentation/story/add_story_view.dart
  mobile/lib/_presentation/story/story_details_view.dart
  mobile/lib/_presentation/widgets/card/comment_card.dart
Labels: bug, mobile

#353 #351
  mobile/lib/_application/profile/profile_cubit.dart
  mobile/lib/_application/story/story_cubit.dart
  mobile/lib/_domain/story/model/story_model.dart
  mobile/lib/_infrastructure/auth/auth_repository.dart
  mobile/lib/_presentation/app/view/home/view/home_view.dart
  mobile/lib/_presentation/app/view/profile/view/other_profile_view.dart
  mobile/lib/_presentation/app/view/search/search_view.dart
  mobile/lib/_presentation/app/view/timeline/view/timeline_view.dart
  mobile/lib/_presentation/story/story_details_view.dart
  mobile/lib/_presentation/widgets/card/story_card.dart
Labels: enhancement, frontend, mobile

#365 story search page UI enhancements are done associated to issue #364
  dutluk/dutluk_frontend/src/components/StorySearch.js
  dutluk/dutluk_frontend/src/components/css/Login.css
Labels: enhancement, frontend

#376 Development mobile
  mobile/android/app/build.gradle
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/build.gradle
  mobile/lib/_application/story/story_cubit.dart
  mobile/lib/_domain/network/network_paths.dart
  mobile/lib/_domain/story/i_story_repository.dart
  mobile/lib/_infrastructure/story/story_repository.dart
  mobile/lib/_presentation/_route/router.gr.dart
  mobile/lib/_presentation/app/view/home/view/home_view.dart
  mobile/lib/_presentation/app/view/nearby/view/nearby.dart
  mobile/lib/_presentation/app/view/recommended/view/recommended_view.dart
  mobile/lib/_presentation/app/view/search/search_view.dart
  mobile/lib/_presentation/app/view/timeline/view/timeline_view.dart
  mobile/lib/_presentation/story/add_story_view.dart
  mobile/lib/_presentation/story/my_stories_view.dart
  mobile/lib/_presentation/widgets/card/story_card.dart
  mobile/lib/_presentation/widgets/filters/story_filter_modal.dart
  mobile/lib/_presentation/widgets/filters/story_timeline_filter_modal.dart
  mobile/pubspec.lock
Labels: enhancement, mobile

#409 Dev react add comment delete button
  dutluk/dutluk_frontend/src/App.js
  dutluk/dutluk_frontend/src/components/Login.js
  dutluk/dutluk_frontend/src/components/StoryDetails.js
Labels: frontend, react, webApp, feature

#410 Dev react card enhancement
  dutluk/dutluk_frontend/src/components/StoryList.js
  dutluk/dutluk_frontend/src/components/css/StoryList.css
Labels: enhancement, frontend, react, webApp

#413 332 display the response body of login and register api when 404 is thrown on react
  dutluk/dutluk_frontend/src/components/Login.js
  dutluk/dutluk_frontend/src/components/Register.js
Labels: frontend, react, webApp

#415 Development for delete all endpoint integration to reach karadut engine
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/request/RecDeleteAllRequest.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/RecommendationService.java
Labels: enhancement, backend, backend-recommendation, rec.engine-Karadut

#417 383 recommendation percentage
  dutluk/dutluk_frontend/src/components/Recommended.js
  dutluk/dutluk_frontend/src/components/StoryList.js
  dutluk/dutluk_frontend/src/components/css/StoryList.css
Labels: enhancement, frontend, react, webApp, rec.engine-Karadut

#420 story id's coming from karadut now checked for deletion. Closes #419
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/StoryService.java
Labels: enhancement, backend, webApp, backend-recommendation

#429 Development react to development for recent react updates
  dutluk/dutluk_frontend/src/App.js
  dutluk/dutluk_frontend/src/components/Login.js
  dutluk/dutluk_frontend/src/components/Recommended.js
  dutluk/dutluk_frontend/src/components/Register.js
  dutluk/dutluk_frontend/src/components/StoryDetails.js
  dutluk/dutluk_frontend/src/components/StoryList.js
  dutluk/dutluk_frontend/src/components/css/StoryList.css
Labels: frontend, webApp

#431 Register frontend unit test is done.
  dutluk/dutluk_frontend/babel.config.js
  dutluk/dutluk_frontend/package-lock.json
  dutluk/dutluk_frontend/package.json
  dutluk/dutluk_frontend/src/Test_Frontend/Register.test.js
  dutluk/dutluk_frontend/src/components/Register.js
  dutluk/dutluk_frontend/src/jest.config.js
Labels: react, webApp, test

#430 Development to development react
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/DutlukBackendApplication.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/RecommendationService.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/StoryService.java
  dutluk/dutluk_backend/src/test/java/com/SWE573/dutluk_backend/service/RecommendationServiceTest.java
Labels: backend, webApp

#446 login page unit test is done
  dutluk/dutluk_frontend/src/Test_Frontend/login.test.js
Labels: react, webApp, test

#456 Profile page unit test is done for frontend. Closes #455
  dutluk/dutluk_frontend/src/Test_Frontend/profile.test.js
Labels: react, webApp, test

#457 Dev react date picker final integration to story add page.
  dutluk/dutluk_frontend/package-lock.json
  dutluk/dutluk_frontend/package.json
  dutluk/dutluk_frontend/src/components/AddStory.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/DayPicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/DecadePicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/MomentPicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/MonthPicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/SeasonMenu.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/SeasonPicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/TimeExpression.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/TimeTypeMenu.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/YearPicker.js
  dutluk/dutluk_frontend/src/components/DateTimerPicker.js
Labels: frontend, task, high priority, react

#461 Development mobile
  mobile/lib/_application/profile/profile_cubit.dart
  mobile/lib/_application/story/story_cubit.dart
  mobile/lib/_domain/story/model/addStory_model.dart
  mobile/lib/_domain/story/model/story_model.dart
  mobile/lib/_presentation/story/add_story_view.dart
  mobile/lib/_presentation/story/story_details_view.dart
  mobile/lib/_presentation/widgets/card/story_card.dart
  mobile/lib/_presentation/widgets/filters/story_filter_modal.dart
  mobile/lib/_presentation/widgets/filters/story_timeline_filter_modal.dart
  mobile/test/auth/auth_cubit_test.dart
  mobile/test/auth/auth_cubit_test.mocks.dart
  mobile/test/profile/profile_cubit_test.dart
  mobile/test/profile/profile_cubit_test.mocks.dart
  mobile/test/story/story_cubit_test.dart
Labels: mobile

#464 Location usage enhancement
  dutluk/dutluk_frontend/src/components/AddStory.js
Labels: enhancement, frontend, design, react, webApp

#470 466 delete button is not showing on mystories page on webapp
  dutluk/dutluk_frontend/src/components/MyStories.js
  dutluk/dutluk_frontend/src/components/StoryList.js
Labels: enhancement, frontend, react, webApp

#472 471 edit button is not showing on pages on webapp
  dutluk/dutluk_frontend/src/components/MyStories.js
  dutluk/dutluk_frontend/src/components/StoryList.js
Labels: enhancement, frontend, react, webApp

#469 320 when a location is clicked on search page the pin cant be removed
  dutluk/dutluk_frontend/src/components/StorySearch.js
  dutluk/dutluk_frontend/src/components/TimelineSearch.js
Labels: enhancement, frontend, search, react, webApp

#473 356 adding card component to search results on webapp
  dutluk/dutluk_frontend/src/components/MyStories.js
  dutluk/dutluk_frontend/src/components/StorySearch.js
Labels: enhancement, frontend, react, webApp

#474 443 merging my stories into my profile page
  dutluk/dutluk_frontend/src/App.js
  dutluk/dutluk_frontend/src/components/MyStories.js
  dutluk/dutluk_frontend/src/components/User.js
Labels: enhancement, frontend, react, webApp

#478 Adding Story unit test is done for frontend. Closes #453
  dutluk/dutluk_frontend/package-lock.json
  dutluk/dutluk_frontend/package.json
  dutluk/dutluk_frontend/src/Test_Frontend/AddStory.test.js
Labels: react, webApp, test

#480 Slider Addition for WebApp
  dutluk/dutluk_frontend/src/components/AddStory.js
Labels: enhancement, frontend, design, react, webApp

#485 Dev react date picker final
  dutluk/dutluk_rs/cf.py
  dutluk/dutluk_rs/main.py
Labels: backend, rec.engine-Karadut

#486 Development react
  dutluk/dutluk_frontend/package-lock.json
  dutluk/dutluk_frontend/package.json
  dutluk/dutluk_frontend/src/App.js
  dutluk/dutluk_frontend/src/Test_Frontend/AddStory.test.js
  dutluk/dutluk_frontend/src/components/AddStory.js
  dutluk/dutluk_frontend/src/components/MyStories.js
  dutluk/dutluk_frontend/src/components/StoryList.js
  dutluk/dutluk_frontend/src/components/StorySearch.js
  dutluk/dutluk_frontend/src/components/TimelineSearch.js
  dutluk/dutluk_frontend/src/components/User.js
  dutluk/dutluk_rs/cf.py
  dutluk/dutluk_rs/main.py
Labels: backend, rec.engine-Karadut

#517 Story Search Unit Test is done. Closes #516
  dutluk/dutluk_frontend/src/Test_Frontend/StorySearch.test.js
Labels: react, webApp, test

#483 Backend developments from development to dev-react
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/UserController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/model/Story.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/model/User.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/repository/StoryRepository.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/request/StoryCreateRequest.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/request/StoryEnterRequest.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/LoginResponse.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/MyStoryListResponse.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/StoryListResponse.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/StoryResponse.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/ImageService.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/RecommendationService.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/StoryService.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/UserService.java
  dutluk/dutluk_backend/src/test/java/com/SWE573/dutluk_backend/service/RecommendationServiceTest.java
  dutluk/dutluk_backend/src/test/java/com/SWE573/dutluk_backend/service/StoryServiceTest.java
  dutluk/dutluk_rs/cf.py
  dutluk/dutluk_rs/main.py
  dutluk/dutluk_rs/tests.py
  dutluk/dutluk_rs/tests_artifacts.py
  mobile/lib/_application/profile/profile_cubit.dart
  mobile/lib/_application/story/story_cubit.dart
  mobile/lib/_domain/story/i_story_repository.dart
  mobile/lib/_domain/story/model/addStory_model.dart
  mobile/lib/_domain/story/model/story_model.dart
  mobile/lib/_infrastructure/story/story_repository.dart
  mobile/lib/_presentation/app/view/recommended/view/recommended_view.dart
  mobile/lib/_presentation/story/add_story_view.dart
  mobile/lib/_presentation/story/story_details_view.dart
  mobile/lib/_presentation/widgets/card/comment_card.dart
  mobile/lib/_presentation/widgets/card/story_card.dart
  mobile/lib/_presentation/widgets/filters/story_filter_modal.dart
  mobile/lib/_presentation/widgets/filters/story_timeline_filter_modal.dart
  mobile/test/auth/auth_cubit_test.dart
  mobile/test/auth/auth_cubit_test.mocks.dart
  mobile/test/profile/profile_cubit_test.dart
  mobile/test/profile/profile_cubit_test.mocks.dart
  mobile/test/story/story_cubit_test.dart
  mobile/test/story/story_cubit_test.mocks.dart
Labels: enhancement, backend, webApp

#520 Development mobile
  mobile/lib/_presentation/app/view/timeline/view/timeline_view.dart
  mobile/lib/_presentation/story/add_story_view.dart
  mobile/lib/_presentation/story/story_details_view.dart
Labels: enhancement, mobile

#530 Story Detail unit test is done for frontend. Closes #524
  dutluk/dutluk_frontend/src/Test_Frontend/StoryDetail.test.js
Labels: react, webApp, test

#540 StoryList component injected to labelsearch
  dutluk/dutluk_frontend/src/components/LabelSearch.js
Labels: enhancement, frontend, search, react, webApp

#542 541 profile request on every page makes the application very unusable
  dutluk/dutluk_frontend/src/App.js
Labels: enhancement, frontend, high priority, react, webApp

#543 General UI Enhancements and Bug Fixes
  dutluk/dutluk_frontend/src/App.js
  dutluk/dutluk_frontend/src/components/Profile.js
  dutluk/dutluk_frontend/src/components/StoryDetails.js
  dutluk/dutluk_frontend/src/components/StorySearch.js
Labels: bug, enhancement, frontend, react, webApp

#560 481 like and comment numbers are not loaded to card component on webapp
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/MyStoryListResponse.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/StoryListResponse.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/StoryResponse.java
  dutluk/dutluk_frontend/src/components/StoryList.js
Labels: enhancement, frontend, react, webApp

#548 Button Design, UserPage Enhancement and Header Alignment
  dutluk/dutluk_frontend/src/components/AddStory.js
  dutluk/dutluk_frontend/src/components/AllStories.js
  dutluk/dutluk_frontend/src/components/EditStory.js
  dutluk/dutluk_frontend/src/components/FollowedUserStories.js
  dutluk/dutluk_frontend/src/components/LabelSearch.js
  dutluk/dutluk_frontend/src/components/Recommended.js
  dutluk/dutluk_frontend/src/components/SavedStories.js
  dutluk/dutluk_frontend/src/components/StoryDetails.js
  dutluk/dutluk_frontend/src/components/StorySearch.js
  dutluk/dutluk_frontend/src/components/TimelineSearch.js
  dutluk/dutluk_frontend/src/components/User.js
Labels: enhancement, frontend, design, react, webApp

#565 Dev react date picker final UI enhancements.
  dutluk/dutluk_frontend/src/components/AddStory.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/DayPicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/MomentPicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/MonthPicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/SeasonMenu.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/SeasonPicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/TimeExpression.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/YearPicker.js
  dutluk/dutluk_frontend/src/components/DateTimerPicker.js
Labels: enhancement, frontend, react, webApp

#559 Integration of new time pickers to timeline search 2
  dutluk/dutluk_frontend/src/components/StorySearch.js
  dutluk/dutluk_frontend/src/components/TimelineSearch.js
Labels: enhancement, frontend, search, react, webApp

#570 recommended_unit test is done for frontend.Closes #526
  dutluk/dutluk_frontend/src/Test_Frontend/Recommended.test.js
Labels: react, webApp, test

#571 556 carousel implementation to timeline page
  dutluk/dutluk_frontend/src/components/StoryList.js
  dutluk/dutluk_frontend/src/components/Timeline.js
  dutluk/dutluk_frontend/src/components/TimelineSearch.js
  dutluk/dutluk_frontend/src/components/css/Timeline.css
Labels: enhancement, frontend, search, react, webApp

#555 #552, #553, #554
  mobile/lib/_presentation/app/view/profile/view/profile_detail_view.dart
  mobile/lib/_presentation/story/add_story_view.dart
  mobile/lib/_presentation/story/story_details_view.dart
Labels: bug, enhancement, mobile

#574 Comment UI enhancement and bug fixes
  dutluk/dutluk_frontend/src/components/CommentList.js
  dutluk/dutluk_frontend/src/components/StoryDetails.js
  dutluk/dutluk_frontend/src/components/css/AllStories.css
Labels: bug, enhancement, frontend, design, react, webApp

#580 All Stories and Timeline Search unit test is done. Closes #576 and #579
  dutluk/dutluk_frontend/package-lock.json
  dutluk/dutluk_frontend/package.json
  dutluk/dutluk_frontend/src/Test_Frontend/AddStory.test.js
  dutluk/dutluk_frontend/src/Test_Frontend/AllStories.test.js
  dutluk/dutluk_frontend/src/Test_Frontend/StorySearch.test.js
  dutluk/dutluk_frontend/src/Test_Frontend/TimeLineSearch.test.js
  dutluk/dutluk_frontend/src/jest.config.js
Labels: react, webApp, test

#582 Story exploration page layout
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/MyStoryListResponse.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/StoryListResponse.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/StoryResponse.java
  dutluk/dutluk_frontend/src/Test_Frontend/Recommended.test.js
  dutluk/dutluk_frontend/src/components/AddStory.js
  dutluk/dutluk_frontend/src/components/AllStories.js
  dutluk/dutluk_frontend/src/components/CommentList.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/DayPicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/MomentPicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/MonthPicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/SeasonMenu.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/SeasonPicker.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/TimeExpression.js
  dutluk/dutluk_frontend/src/components/DateTimePicker/YearPicker.js
  dutluk/dutluk_frontend/src/components/DateTimerPicker.js
  dutluk/dutluk_frontend/src/components/EditStory.js
  dutluk/dutluk_frontend/src/components/FollowedUserStories.js
  dutluk/dutluk_frontend/src/components/LabelSearch.js
  dutluk/dutluk_frontend/src/components/Recommended.js
  dutluk/dutluk_frontend/src/components/SavedStories.js
  dutluk/dutluk_frontend/src/components/StoryDetails.js
  dutluk/dutluk_frontend/src/components/StoryList.js
  dutluk/dutluk_frontend/src/components/StorySearch.js
  dutluk/dutluk_frontend/src/components/Timeline.js
  dutluk/dutluk_frontend/src/components/TimelineSearch.js
  dutluk/dutluk_frontend/src/components/User.js
  dutluk/dutluk_frontend/src/components/css/AllStories.css
  dutluk/dutluk_frontend/src/components/css/Timeline.css
Labels: search, react, webApp

#583 Timeline Search Unit test is fixed.
  dutluk/dutluk_frontend/src/Test_Frontend/TimeLineSearch.test.js
Labels: react, webApp, test

#581 573 adding year+month search functionality
  dutluk/dutluk_frontend/src/components/StorySearch.js
Labels: enhancement, frontend, search, react, webApp, feature

#586 UI enhancements and Feature Implementation
  dutluk/dutluk_frontend/src/App.js
  dutluk/dutluk_frontend/src/components/SavedStories.js
  dutluk/dutluk_frontend/src/components/StoryList.js
  dutluk/dutluk_frontend/src/components/css/StoryList.css
Labels: enhancement, frontend, design, react, webApp, feature

#590 Change Name of Save Story Feature #561
  mobile/lib/_domain/story/model/story_model.dart
  mobile/lib/_presentation/app/view/profile/view/profile_view.dart
  mobile/lib/_presentation/story/saved_stories_view.dart
  mobile/lib/_presentation/story/story_details_view.dart
Labels: bug, enhancement, mobile

#591 573 adding year+month search functionality
  dutluk/dutluk_frontend/src/components/StorySearch.js
Labels: enhancement, frontend, react, webApp, feature

#595 Story explorations now starts from 1930's
  dutluk/dutluk_frontend/src/components/StorySearch.js
Labels: bug, frontend, react

#594 FollowedUserStories unit test is done for frontend. Closes #593
  dutluk/dutluk_frontend/package-lock.json
  dutluk/dutluk_frontend/package.json
  dutluk/dutluk_frontend/src/Test_Frontend/FollowedUserStories.test.js
Labels: react, webApp, test
