Repository enshkn/BOUN-SWE-574-Fall-23-G2, pull requests merged in 2024-01, with the labels that each got.

#598 545 and 597 Edit story update and Fixes
  dutluk/dutluk_frontend/src/components/DateTimerPicker.js
  dutluk/dutluk_frontend/src/components/EditStory.js
  dutluk/dutluk_frontend/src/components/StoryList.js
  dutluk/dutluk_frontend/src/components/css/EditStory.css
Labels: bug, enhancement, frontend, react, webApp

#600 Liked stories page on WebAapp
  dutluk/dutluk_frontend/src/App.js
  dutluk/dutluk_frontend/src/components/LikedStories.js
Labels: frontend, react, webApp, feature

#602 601 loading from user stories in their profile
  dutluk/dutluk_frontend/src/components/Profile.js
  dutluk/dutluk_frontend/src/components/StoryList.js
Labels: enhancement, frontend, react, webApp

#605 Comments now return with the "x time ago" field
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/CommentResponse.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/StoryResponse.java
Labels: bug, backend, webApp

#606 Development to main for two changes
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/CommentResponse.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/response/StoryResponse.java
  mobile/lib/_domain/story/model/story_model.dart
  mobile/lib/_presentation/app/view/profile/view/profile_view.dart
  mobile/lib/_presentation/story/saved_stories_view.dart
  mobile/lib/_presentation/story/story_details_view.dart
Labels: bug, backend

#603 584 storydetail page update on webapp
  dutluk/dutluk_frontend/src/App.js
  dutluk/dutluk_frontend/src/components/CommentList.js
  dutluk/dutluk_frontend/src/components/StoryDetails.js
  dutluk/dutluk_frontend/src/components/StoryList.js
  dutluk/dutluk_frontend/src/components/StorySearch.js
  dutluk/dutluk_frontend/src/components/Timeline.js
  dutluk/dutluk_frontend/src/components/TimelineSearch.js
  dutluk/dutluk_frontend/src/components/css/AllStories.css
  dutluk/dutluk_frontend/src/components/css/StoryDetails.css
Labels: enhancement, frontend, search, react, webApp

#608 Login issue for https connections
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/UserController.java
Labels: bug, backend, commit needed

#610 login issue fixed again. Closes #607
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/UserController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/UserService.java
Labels: bug, backend

#613 batch sending of stories to Karadut fixed. Closes #612
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/StoryService.java
Labels: bug, backend

#614 batch sending of stories to Karadut fixed. Closes #612
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/StoryService.java
Labels: bug, backend

#616 recent stories to be shown when no recommended stories exist fixed.
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/StoryService.java
Labels: bug, backend

#617 Development to main for removing all likes from stories api
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/StoryController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/StoryService.java
  dutluk/dutluk_frontend/src/App.js
Labels: bug, backend

#618 another error for recent stories to be shown when no recommended stories exist fixed.
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/UserController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/StoryService.java
Labels: bug, backend, commit needed

#620 Development to main for recommended stories error fix
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/controller/UserController.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/StoryService.java
Labels: bug, backend

#622 #619, #621
  .gitignore
  mobile/lib/_presentation/app/view/profile/view/other_profile_view.dart
  mobile/lib/_presentation/widgets/card/story_card.dart
Labels: enhancement, mobile

#623 Development recommendation
  dutluk/dutluk_rs/cf.py
  dutluk/dutluk_rs/main.py
Labels: rec.engine-Karadut

#624 recommendation engine liking story bug.
  .gitignore
  dutluk/dutluk_rs/cf.py
  dutluk/dutluk_rs/main.py
  mobile/lib/_presentation/app/view/profile/view/other_profile_view.dart
  mobile/lib/_presentation/widgets/card/story_card.dart
Labels: rec.engine-Karadut

#625 Recommendation integration logs enhanced.
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/RecommendationService.java
Labels: bug, backend

#627 Update RecommendationService.java
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/RecommendationService.java
Labels: bug, backend

#626 Development to main for enhanced logs on karadut integration
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/RecommendationService.java
Labels: bug, backend

#628 unit tests fixed.
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/RecommendationService.java
Labels: bug, backend

#629 unit test fix
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/RecommendationService.java
Labels: bug, backend

#631 Removed async annotation from like and dislike. Closes #630
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/RecommendationService.java
Labels: bug, backend

#632 Development to main for removing asyncronous calls for like and dislike story for karadut
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/RecommendationService.java
Labels: bug, backend

#634 if block added for 0 recommendation percentage
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/RecommendationService.java
Labels: bug, backend

#635 Development to main for handling recommended stories with 0 percentage
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/RecommendationService.java
Labels: bug, backend

#637 React minor fixes (Button UI and button wording change according to state)
  dutluk/dutluk_frontend/src/components/StoryDetails.js
  dutluk/dutluk_frontend/src/components/TimelineSearch.js
Labels: bug, frontend, react, webApp

#638 React Refining and Solving Terminal Errors
  dutluk/dutluk_frontend/src/components/AddStory.js
  dutluk/dutluk_frontend/src/components/DateTimerPicker.js
  dutluk/dutluk_frontend/src/components/EditStory.js
  dutluk/dutluk_frontend/src/components/Profile.js
  dutluk/dutluk_frontend/src/components/StoryList.js
  dutluk/dutluk_frontend/src/components/Timeline.js
Labels: frontend, react, webApp

#640 default photo provided for story list views.
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/ImageService.java
Labels: backend, design

#641 Development to main for default story list picture
  dutluk/dutluk_backend/src/main/java/com/SWE573/dutluk_backend/service/ImageService.java
Labels: backend, design

#643 #642 nearby stories geolocation issue
  mobile/lib/_application/splash/splash_cubit.dart
  mobile/lib/_presentation/app/view/nearby/view/nearby.dart
  mobile/lib/_presentation/app/view/search/search_view.dart
  mobile/lib/_presentation/app/view/timeline/view/timeline_view.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: bug, mobile

#644 Development
  mobile/lib/_application/splash/splash_cubit.dart
  mobile/lib/_presentation/app/view/nearby/view/nearby.dart
  mobile/lib/_presentation/app/view/search/search_view.dart
  mobile/lib/_presentation/app/view/timeline/view/timeline_view.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: bug, mobile

#646 Revert "Refactoring to purge the code from terminal errors closes #592"
  dutluk/dutluk_frontend/src/components/AddStory.js
  dutluk/dutluk_frontend/src/components/DateTimerPicker.js
  dutluk/dutluk_frontend/src/components/EditStory.js
  dutluk/dutluk_frontend/src/components/Profile.js
  dutluk/dutluk_frontend/src/components/StoryList.js
  dutluk/dutluk_frontend/src/components/Timeline.js
Labels: wontfix, high priority

#645 proflie unit test is fixed
  dutluk/dutluk_frontend/src/Test_Frontend/profile.test.js
Labels: react, test

#647 Development update from Development react
  dutluk/dutluk_frontend/src/Test_Frontend/profile.test.js
  dutluk/dutluk_frontend/src/components/StoryDetails.js
  dutluk/dutluk_frontend/src/components/TimelineSearch.js
Labels: frontend, react, webApp

#648 Main update from Development (react fixes)
  dutluk/dutluk_frontend/src/Test_Frontend/profile.test.js
  dutluk/dutluk_frontend/src/components/StoryDetails.js
  dutluk/dutluk_frontend/src/components/TimelineSearch.js
Labels: bug, frontend, design, react, webApp
